@use '../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins/layout.scss' as *;

.menuRow {
  @include rowWrapper;
}

.left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchForm {
  margin-left: 1rem;
  overflow: hidden;
  width: 0;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-default);
  max-width: 300px;
}

.open {
  width: 100%;
  opacity: 1;
  pointer-events: auto;
}

.searchInput {
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  color: var(--color-black);
  transition: var(--transition-default);

  &:focus {
    outline: none;
    border-color: var(--color-primary);
  }
}

// .hamburgerButton {
//   display: none;
// }

// .mobileMenu {
//   margin-top: 0.5rem;
//   padding: 1rem;
//   background-color: var(--color-header);
//   border-radius: var(--border-radius-small);
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
//   opacity: 0;
//   max-height: 0;
//   overflow: hidden;
//   transition: var(--transition-default);
// }

// .mobileMenuOpen {
//   opacity: 1;
//   max-height: 300px;
// }

// .mobileMenuLink {
//   color: var(--color-white);
//   font-size: 1rem;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .contactLink {
//   color: var(--color-white);

//   &:hover {
//     text-decoration: underline;
//   }
// }

@media (max-width: $breakpoint-sm) {
  .contactLink {
    display: none;
  }
  .hamburgerButton {
    display: block;
  }
}
