@use '../../styles/variables.scss' as *;

.section {
  display: flex;
  flex-direction: column;
  padding: 0 0.8rem;
  margin: 2rem 0;

  @media (min-width: $breakpoint-md) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

.toggle {
  all: unset;
  cursor: pointer;
  font-weight: 500;
  color: var(--color-text-white);

  &:hover .icon {
    transform: scale(1.1);
  }
}

.labelWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.label {
  font-size: $font-size-base;
  color: var(--color-text-white);
}

.icon {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
  line-height: 1;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  opacity: 0;
}

.open {
  max-height: 1000px;
  opacity: 1;
}
