.button {
  font: inherit;
  border-radius: var(--border-radius-small);
  font-weight: 400;
  cursor: pointer;
  border: none;
  transition: var(--transition-default);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}

.small {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.medium {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.large {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.fullWidth {
  width: 100%;
  display: flex;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.icon {
  display: flex;
  align-items: center;

  &.left {
    margin-right: 0.5rem;
  }
  &.right {
    margin-left: 0.5rem;
  }
}

.primary {
  background-color: var(--button-primary-color);
  color: var(--button-dark-text);

  &:hover {
    background-color: var(--button-primary-hover);
  }
}

.secondary {
  background-color: transparent;
  color: var(--button-secondary-color);
  border: 2px solid var(--button-secondary-color);

  &:hover {
    color: var(--button-secondary-hover);
    border: 2px solid var(--button-secondary-hover);
  }
}

.danger {
  background-color: var(--button-danger-color);
  color: var(--color-white);

  &:hover {
    background-color: var(--button-danger-hover);
  }

  .success {
    background-color: var(--button-danger-success);
    color: var(--color-white);

    &:hover {
      background-color: var(--button-danger-success);
    }
  }
}
