.iconButton {
  background: none;
  border: none;
  color: var(--color-white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.icon {
  height: 24px;
  width: 24px;
}
