@use '../../styles/variables.scss' as *;

.productCard {
  display: flex;
  flex-direction: column;
}

.cardBase {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.linkArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.imgWrapper {
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  object-fit: cover;
  height: 14rem;

  @media (min-width: $breakpoint-sm) {
    height: 16rem;
  }
  @media (min-width: $breakpoint-md) {
    height: 18rem;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 25%,
    rgba(0, 0, 0, 0.2) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.star {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.25rem;
  fill: var(--color-accent);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}

.ratingCount {
  font-size: $font-size-base;
  color: var(--color-text-dark);
  margin-left: 1rem;
  line-height: 1;
}

.body {
  padding: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--color-text-dark);
}

.title {
  font-size: $font-size-base;
  font-weight: 500;
  margin: 0 0 0.75rem 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description {
  font-size: $font-size-small;
  margin-top: -0.25rem;
  margin-bottom: 1rem;
}

.priceSection {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: auto;
}
.pricingDiscount {
  font-size: $font-size-small;
  font-weight: 500;
}

.priceDetails {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.5rem;
}

.pricingOriginal {
  color: var(--color-text-grey);
  font-size: $font-size-xs;
  text-decoration: line-through;
}

.discountBadge {
  background-color: var(--color-accent);
  color: var(--color-text-dark);
  font-size: $font-size-xs;
  padding: 0.15rem 0.2rem;
  border-radius: var(--border-radius-small);
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 0.75rem;
}

.productCardFull {
  display: flex;
  flex-direction: column;
}

.topLayout {
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-sm) {
    flex-direction: row;
    align-items: stretch;
  }
}

.imageCol {
  width: 100%;

  @media (min-width: $breakpoint-sm) {
    width: 50%;
    max-width: 500px;
  }
  @media (min-width: $breakpoint-md) {
    width: 60%;
    max-width: 600px;
  }

  .image {
    height: 22rem;

    @media (min-width: $breakpoint-sm) {
      height: 26rem;
    }
  }
}

.infoCol {
  flex: 1;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-sm) {
    height: 100%;
    min-height: 26rem;
  }
}

.buttonWrapper {
  padding-top: 1rem;
  margin-top: auto;
}

.reviewList {
  margin-top: 0.5rem;
  padding-left: 1rem;
  list-style: disc;

  li {
    margin-bottom: 0.5rem;
    font-size: $font-size-small;
  }
}
