@use '../../styles/variables.scss' as *;

.cartFeedback {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  background-color: var(--color-text);
  color: var(--color-success);
  padding: 1rem 1.5rem;
  border: 3px solid var(--color-success);
  border-radius: 8px;
  font-size: $font-size-small;
  z-index: 1000;
  animation: fadeInSlideOut 2s ease-out;
}

@keyframes fadeInSlideOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
