.logo {
  display: inline-flex;
  align-items: baseline;
  gap: 0.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-white);

  .text {
    display: flex;
    align-items: center;
  }

  .primary {
    color: var(--color-primary);
    margin-left: 0.1rem;
  }

  .icon {
    height: 1.4rem;
    width: 1.4rem;
    color: var(--color-primary);
    transform: rotate(2deg);
  }

  &.footer {
    color: var(--color-black);

    .primary {
      color: var(--color-black);
    }

    .icon {
      color: var(--color-black);
    }
  }
}
