@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins/layout.scss' as *;

.menuRow {
  @include rowWrapper;
  flex-direction: row-reverse;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 var(--padding-content);
}

.links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
