@use '../../styles/variables.scss' as *;

.card {
  border-radius: var(--border-radius-small);
  overflow: hidden;
  background-color: var(--color-card-bg);
  transition: var(--transition-default);
}
