@use '../../styles/variables.scss' as *;
.summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  color: var(--color-text);
  border-radius: var(--border-radius-small);

  .order {
    font-size: $font-size-large;
    font-weight: $font-weight-heading;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1rem;
    margin: 0;
  }
}

.discount {
  margin: 0;
  font-size: $font-size-small;
}

.total {
  margin: 0;
}

.actions {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
