@use '../../../styles/variables.scss' as *;

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  padding: 0 1rem;
  background-color: var(--color-header);
  border-bottom: 1px solid var(--color-border-light);
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text);
  text-decoration: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
