@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins/layout.scss' as *;

.actionsRow {
  @include rowWrapper;
  border-bottom: 1px solid var(--color-border);

  .actionsContent {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 var(--padding-content);
    width: 100%;
    max-width: $container-max-width;
  }
}

header .icon {
  color: var(--color-white); // overrides the default for just header icons
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
