@use '../../../styles/variables.scss' as *;

.hero {
  position: relative;
  background: url('/images/mobile-hero.jpg') center/cover no-repeat;
  width: 100%;
  min-height: 40vh;
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  color: var(--color-white);
  text-align: center;
  padding: 1rem;

  h1 {
    font-size: $mobile-h1;
  }

  p {
    font-size: $font-size-base;
  }
}

@media (min-width: $breakpoint-sm) {
  .hero {
    background: url('/images/desktop-hero-new.jpg') center/cover no-repeat;
    aspect-ratio: 16/9;
  }
  .content {
    h1 {
      font-size: $font-size-h1;
    }
    p {
      font-size: $font-size-large;
    }
    :global(.button) {
      font-size: 1rem;
      padding: 0.75rem 1.5rem;
    }
  }
}
