@use '../../styles/variables.scss' as *;

.feedbackCard {
  text-align: center;
  margin: 4rem auto;
  max-width: 300px;
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--color-white);
  pointer-events: none;

  &.info {
    background-color: var(--color-primary);
  }

  &.error {
    background-color: var(--color-danger);
  }

  &.success {
    background-color: var(--color-success);
  }
}

.icon {
  font-size: 4rem;
}

.bottom {
  background-color: var(--color-white);
  padding: var(--padding-content);

  p {
    margin-bottom: 1rem;
    color: var(--color-bg);
  }
}
