@use './../../../../styles/variables.scss' as *;
@use '../../../../styles/mixins/layout.scss' as *;

.actionsRow {
  @include rowWrapper;
  border-bottom: 1px solid var(--color-border);
}

header .icon {
  color: var(--color-white); // overrides the default for just header icons
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
